<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./img/weathericon.png">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="main-content">

        {{>title}}
        <p>This site was created by Vishal malav. <br>It use mapbox and weather stack api for providing<br> user a real
            time
            weather report for his location </p>
        <img src="./img/istockphoto-1187576166-612x612.jpg" class="portrait">


    </div>
    {{>footer}}
</body>

</html>