<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="./img/weathericon.png">
    <link rel="stylesheet" href="./css/style.css">
    <p>this is for help and we are working on this</p>>

</head>

<body>
    <div class="main-content">{{>title}}
    </div>
    {{>footer}}
</body>

</html>